/**
 * file: css/css.css
 * purpose: styling
 **/

/* Define variables in the :root */
 :root {
   --contrast: rgb(249, 157, 228);
   --backgr: #000;
 }

/* Use your variables on elements */
article {
  background-color: var(--contrast);
}

p {
  background-color: var(--backgr);
  color: var(--contrast);
}